body {
    font-family: "Caveat", cursive;
    font-family: "Libre Baskerville", serif;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
  }

  .gmailForm{
    display: grid;
    height: 100vh;
    justify-content: center;
  }
